.row {
  color: white;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
}

.row__poster {
  object-fit: contain;
  background-color: #011111;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
  min-height: 400px;
}

.row__poster > h3 {
  padding: 10px;
}

.row__poster > p {
  padding: 10px 0px;
}
